{% extends "say.html.twig"%}

{% block body %}

{{ use('yii/widgets/ActiveForm') }}
{% set form = active_form_begin({
    'id' : 'entry-form',
    'options' : {'class' : 'form-horizontal'},
}) %}
    {{ form.field(model, 'name') | raw }}
    {{ form.field(model, 'email') | raw }}

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
{{ active_form_end() }}

{% endblock %}
