{% extends "say.html.twig"%}

{% block body %}

<p>You have entered the following information:</p>

<ul>
    <li><label>Name</label>: {{ model.name }}</li>
    <li><label>Email</label>: {{ model.email }}</li>
</ul>
    
{% endblock %}
